name: CI

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    types: [opened, synchronize]

jobs:
  qodana:
    name: Qodana
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: JetBrains/qodana-action@v2022.2.4
        name: Qodana
        env:
          QODANA_TOKEN: ${{ secrets.QODANA_TOKEN }}
      # https://www.jetbrains.com/help/qodana/github.html#GitHub+code+scanning
      - name: Upload SARIF report to GitHub
        # Also upload report if quality gate fails
        if: always()
        uses: github/codeql-action/upload-sarif@v2
        with:
          sarif_file: ${{ runner.temp }}/qodana/results/qodana.sarif.json
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest]
    steps:
    - name: configure Pagefile
      if: matrix.os == 'windows-latest'
      uses: al-cheb/configure-pagefile-action@v1.3
      with:
        minimum-size: 8GB
    - uses: actions/checkout@v2
      with:
        fetch-depth: 2
    - uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'zulu'
    - name: Run linting
      run: |
        chmod +x gradlew
        ./gradlew ktlintCheck
    - name: Run tests
      run: ./gradlew check koverReport
    - name: Upload coverage report
      if: success() && matrix.os == 'ubuntu-latest'
      run: |
        curl -Os https://uploader.codecov.io/latest/linux/codecov
        chmod +x codecov
        ./codecov -t ${CODECOV_TOKEN}